html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*........................................................*/
#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -70px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  padding-top: 30px;
  transition: top 0.5s; /* Transition effect when sliding down (and up) */
  z-index: 99;
}

/* Style the navbar links */
#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  margin-right: 30px;
  
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}


.img-cabecalho{
  
  width: 120px;
  margin-top: -10px;
  margin-left: 30px;
}

/*...........................................................*/


.img-tour{
  padding: 0;
}

.Cont-1{
    overflow: hidden;
    cursor: pointer;
    
}

.Cont-1  .img-fluid{
    height: 100%;
    width: 100%;
    transition: 2.0s ease;
    object-fit: cover;
    
}

.Cont-1:hover .img-fluid {
    transform: scale(1.1)
}

.Cont-2{
    overflow: hidden;
    cursor: pointer;
    
}

.Cont-2  .img-fluid{
    height: 100%;
    width: 100%;
    transition: 1.8s ease;
    object-fit: cover;
}

.Cont-2:hover .img-fluid {
    transform: scale(1.1)
}

.Cont-3{
    overflow: hidden;
    cursor: pointer;
    
}

.Cont-3  .img-fluid{
    height: 100%;
    width: 100%;
    transition: 1.8s ease;
    object-fit: cover;
}

.Cont-3:hover .img-fluid {
    transform: scale(1.1)
}

/*..................................................*/












