html,body{
    padding: 0;
    margin: 0;
}

*{
  box-sizing: border-box;
}

span{
  visibility: hidden;
}

/*---------------------------Header------------------*/


#navbar{
  background-color: rgb(226, 139, 31);
  opacity: 0.7;
  position: fixed;
  width: 100%;
  transition: top 0.3s; 
  z-index: 99;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


a{
  padding: 50px;
  color: black;
  text-decoration: none;
}

.img-cabecalho{
  width: 150px;
  padding: 15px;
}

/*........................Foto Into....................*/

.img-tour{
  padding: 0;
  position: relative;
}

/*........................Galeria de Membros.................*/

.membros{
  height: 80vh;
  position: relative;
  overflow: hidden;
  align-content: center;
}

.apresentacao {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  color: aqua;
}

.membros .apresentacao{
  top: -80px;
}
  

h2{
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  color: #dbbd13;
  top: -60px;
  background-color: #2e1e1e;
  margin-left: 500px;
  margin-right: 500px;
}

.video-estrela{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.banda{
  display: flex;
  justify-content: space-around;

}

.gallery-bale{
  position: relative;
}

.gallery-bale img {
  z-index: 1;
  position: absolute;
  inset: 5px;
  border-radius: 40px;
  height: 300px;
  width: 333px;
}



/*...................cantores......................*/

.gallery-cantores{
  position: relative;
 
}


.gallery-cantores img {
  z-index: 1;
  position: absolute;
  inset: 5px;
  border-radius: 40px;
  height: 300px;
  width: 333px;
}



/*............Musicos...........................*/

.gallery-musicos{
  position: relative;
  width: 350px;
  height: 350px;
   
 
  border-radius: 47px; 
  
}


.gallery-musicos img {
  z-index: 1;
  position: absolute;
  inset: 5px;
  border-radius: 40px;
  height: 300px;
  width: 333px;
}

.desc{
  width: 90%;
  display: flex;
  justify-content: center;

}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*................  Slideshow ...........................*/

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;

}

.active,
.demo:hover {
  opacity: 1;
  border-style:double;
  transition: 0.3s ease-in-out;
  
}

/*...........................................................*/

@media (max-width: 450px){
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

 .linksEsq {
    display: none;
  }

  .linksDir{
    display: none;
  }

  span{
    visibility: visible;
    margin-left: 20vw;
  }

  .responsive {
    display: block;
    width: 100%;
  }


}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}















